:root {
    --cor-primaria: #e74c3c;
    --cor-texto: #333;
    --cor-fundo: #f4f4f4;
    --cor-secundaria: #2ecc71;
    --fonte-principal: 'Arial', sans-serif;
    --fonte-secundaria: 'Helvetica', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: var(--cor-primaria);
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor-secundaria);
}

body {
    margin-left: 220px; /* Para dar espaço para o menu fixo */
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas */
    gap: 20px;
    margin-top: 20px;
}

article {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: var(--cor-primaria);
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.logo {
    display: block;
    width: 200px;
    margin: 20px auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: white;
    margin-top: 20px;
}
