:root {
    --cor-primaria: #e02828 !important;
    --cor-secundaria: #333;
    --cor-fundo: #fafafa;
    --cor-footer-fundo: #e02828;
    --cor-footer-texto: #fff;
    --fonte-padrao: 'Roboto', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
}

.logo {
    height: 35px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.img-fluid {
    border-radius: 8px;
    box-shadow: 0 4px 12px #ccc;
}

.card {
    background-color: var(--cor-footer-texto);
    border: none;
    box-shadow: 0 4px 12px #ccc;
    border-radius: 8px;
}

.card-body p {
    font-size: 18px;
    color: var(--cor-secundaria);
}

strong.text-danger {
    color: var(--cor-primaria) !important;
}

.footer {
    background-color: var(--cor-footer-fundo);
    color: var(--cor-footer-texto);
    text-align: center;
    padding: 15px 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative !important;
    left: 0;
    bottom: 0;
}
