:root {
    --primary-color: #e02828;
    --secondary-color: #333;
    --background-color: #fafafa;
    --menu-background-color: #555;
    --menu-hover-color: var(--primary-color);
    --footer-background-color: #e02828;
    --footer-text-color: #fff;
    --link-hover-color: #fff;
    --font-family: 'Roboto', sans-serif;
    --button-hover-color: #555;
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.custom-navbar {
    background-color: var(--primary-color);
    padding: 10px 20px;
    width: 100%;
}

.logo {
    height: 35px;
    background-color: transparent;
}

.navbar a {
    color: var(--footer-text-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--link-hover-color);
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.img-fluid {
    border-radius: 8px;
    box-shadow: 0 4px 12px var(--secondary-color);
}

.card {
    background-color: var(--footer-text-color);
    border: none;
    box-shadow: 0 4px 12px var(--secondary-color);
    border-radius: 8px;
}

.card-body p {
    font-size: 18px;
    color: var(--secondary-color);
}

strong.text-danger {
    color: var(--primary-color) !important;
}

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}
