:root {
    --cor-primaria: #e02828;
    --cor-secundaria: #333;
    --cor-fundo: #fafafa;
    --cor-menu-fundo: #555;
    --cor-menu-hover: var(--cor-primaria);
    --cor-footer-fundo: #e02828;
    --cor-footer-texto: #fff;
    --cor-link-hover: #fff;
    --fonte-padrao: 'Roboto', sans-serif;
    --cor-botao-hover: #555;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
}

.custom-navbar {
    background-color: #ffffff; 
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 35px;
    background-color: transparent;
}

.navbar a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--cor-menu-hover);
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.img-fluid {
    border-radius: 8px;
    box-shadow: 0 4px 12px var(--cor-secundaria);
}

.card {
    background-color: var(--cor-footer-texto);
    border: none;
    box-shadow: 0 4px 12px var(--cor-secundaria);
    border-radius: 8px;
}

.card-body p {
    font-size: 18px;
    color: var(--cor-secundaria);
}

strong.text-danger {
    color: var(--cor-primaria) !important;
}

.footer {
    background-color: var(--cor-footer-fundo);
    color: var(--cor-footer-texto);
    text-align: center;
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
}
